# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.bak
.rex/
.vscode/
docs/book/fonts/open-sans-v17-all-charsets-800.woff2
docs/book/
build/scripts/__pycache__/
build/sharpmake/.vs/
build/sharpmake/bin/
build/sharpmake/obj/
