# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/*
scripts/__pycache__/*
*.bak
.rex/
.vscode/
source/src/0_extern/rex_std_extra/rex_stl_extra_pch.cpp
source/src/0_extern/rex_std_extra/concurrency/win/win_thread.cpp
source/src/0_extern/rex_std_extra/diagnostics/assert.cpp
source/src/0_extern/rex_std_extra/diagnostics/hr_call.cpp
source/src/0_extern/rex_std_extra/diagnostics/logging.cpp
source/src/0_extern/rex_std_extra/diagnostics/win_call.cpp
source/src/0_extern/rex_std_extra/diagnostics/win_debug.cpp
source/src/0_extern/rex_std_extra/diagnostics/win_message_box.cpp
source/src/0_extern/rex_std_extra/diagnostics/win_stack_tracing.cpp
source/src/0_extern/rex_std_extra/diagnostics/win/win_console.cpp
source/src/0_extern/rex_std_extra/filesystem/filepath.cpp
source/src/0_extern/rex_std_extra/filesystem/filepath_iterator.cpp
source/src/0_extern/rex_std_extra/filesystem/open_flags.cpp
source/src/0_extern/rex_std_extra/filesystem/win_file.cpp
source/src/0_extern/rex_std_extra/filesystem/win_virtual_file_system.cpp
source/src/0_extern/rex_std_extra/fmt/fmt_format.cpp
source/src/0_extern/rex_std_extra/io/ios_base.cpp
source/src/0_extern/rex_std_extra/io/istream.cpp
source/src/0_extern/rex_std_extra/io/log_message.cpp
source/src/0_extern/rex_std_extra/io/ostream.cpp
source/src/0_extern/rex_std_extra/io/sstream.cpp
source/src/0_extern/rex_std_extra/io/stream_buffer.cpp
source/src/0_extern/rex_std_extra/math/matrix_33.cpp
source/src/0_extern/rex_std_extra/math/matrix_44.cpp
source/src/0_extern/rex_std_extra/math/point.cpp
source/src/0_extern/rex_std_extra/math/vec2.cpp
source/src/0_extern/rex_std_extra/math/vec3.cpp
source/src/0_extern/rex_std_extra/math/vec4.cpp
source/src/0_extern/rex_std_extra/memory/debug_allocator.cpp
source/src/0_extern/rex_std_extra/memory/stack_allocator.cpp
source/src/0_extern/rex_std_extra/time/clock.cpp
source/src/0_extern/rex_std_extra/time/date.cpp
source/src/0_extern/rex_std_extra/time/stopwatch.cpp
source/src/0_extern/rex_std_extra/time/time.cpp
source/src/0_extern/rex_std_extra/time/timepoint.cpp
source/src/0_extern/rex_std_extra/time/timer.cpp
source/src/0_extern/rex_std_extra/time/win/win_date.cpp
source/src/0_extern/rex_std_extra/time/win/win_time.cpp
source/src/0_extern/rex_std_extra/time/win/win_time_functions.cpp
source/src/0_extern/rex_std_extra/time/win/win_timepoint.cpp
source/src/0_extern/rex_std_extra/utilities/hash.cpp
source/src/0_extern/rex_std_extra/utilities/high_water_mark.cpp
source/src/0_extern/rex_std_extra/utilities/id_generator.cpp
source/src/0_extern/rex_std_extra/utilities/scopeguard.cpp
source/src/0_extern/rex_std_extra/utilities/source_location.cpp
source/src/0_extern/rex_std_extra/utilities/version.cpp
source/src/0_extern/rex_std_extra/utilities/wrapped_index.cpp
source/src/0_extern/rex_std_extra/utilities/yes_no_enum.cpp
source/include/0_extern/rex_std_extra/algorithms.h
source/include/0_extern/rex_std_extra/concepts.h
source/include/0_extern/rex_std_extra/concurrency.h
source/include/0_extern/rex_std_extra/diagnostics.h
source/include/0_extern/rex_std_extra/extra_types.h
source/include/0_extern/rex_std_extra/filesystem.h
source/include/0_extern/rex_std_extra/io.h
source/include/0_extern/rex_std_extra/maths.h
source/include/0_extern/rex_std_extra/memory.h
source/include/0_extern/rex_std_extra/rex_stl_extra_pch.h
source/include/0_extern/rex_std_extra/utility.h
source/include/0_extern/rex_std_extra/concurrency/win/win_thread.h
source/include/0_extern/rex_std_extra/containers/vector_view.h
source/include/0_extern/rex_std_extra/diagnostics/assert.h
source/include/0_extern/rex_std_extra/diagnostics/console_colors.h
source/include/0_extern/rex_std_extra/diagnostics/log_message.h
source/include/0_extern/rex_std_extra/diagnostics/logging.h
source/include/0_extern/rex_std_extra/diagnostics/win/hr_call.h
source/include/0_extern/rex_std_extra/diagnostics/win/win_call.h
source/include/0_extern/rex_std_extra/diagnostics/win/win_console.h
source/include/0_extern/rex_std_extra/diagnostics/win/win_debug.h
source/include/0_extern/rex_std_extra/diagnostics/win/win_error.h
source/include/0_extern/rex_std_extra/diagnostics/win/win_message_box.h
source/include/0_extern/rex_std_extra/diagnostics/win/win_stack_tracing.h
source/include/0_extern/rex_std_extra/filesystem/core_mounts.h
source/include/0_extern/rex_std_extra/filesystem/open_flags.h
source/include/0_extern/rex_std_extra/filesystem/win/win_file.h
source/include/0_extern/rex_std_extra/filesystem/win/win_virtual_file_system.h
source/include/0_extern/rex_std_extra/fmt/fmt_core.h
source/include/0_extern/rex_std_extra/fmt/fmt_format.h
source/include/0_extern/rex_std_extra/fmt/fmt_format_inl.h
source/include/0_extern/rex_std_extra/io/controller_button.h
source/include/0_extern/rex_std_extra/io/key.h
source/include/0_extern/rex_std_extra/io/key_codes.h
source/include/0_extern/rex_std_extra/io/key_state.h
source/include/0_extern/rex_std_extra/io/keys.h
source/include/0_extern/rex_std_extra/io/mouse_button.h
source/include/0_extern/rex_std_extra/math/average.h
source/include/0_extern/rex_std_extra/math/color.h
source/include/0_extern/rex_std_extra/math/constants.h
source/include/0_extern/rex_std_extra/math/deg_angle.h
source/include/0_extern/rex_std_extra/math/float.h
source/include/0_extern/rex_std_extra/math/lerp.h
source/include/0_extern/rex_std_extra/math/matrix_33.h
source/include/0_extern/rex_std_extra/math/matrix_44.h
source/include/0_extern/rex_std_extra/math/normalise.h
source/include/0_extern/rex_std_extra/math/point.h
source/include/0_extern/rex_std_extra/math/rad_angle.h
source/include/0_extern/rex_std_extra/math/sign.h
source/include/0_extern/rex_std_extra/math/trunc.h
source/include/0_extern/rex_std_extra/math/vec2.h
source/include/0_extern/rex_std_extra/math/vec3.h
source/include/0_extern/rex_std_extra/math/vec4.h
source/include/0_extern/rex_std_extra/memory/debug_allocator.h
source/include/0_extern/rex_std_extra/memory/memory_size.h
source/include/0_extern/rex_std_extra/memory/shared_allocator.h
source/include/0_extern/rex_std_extra/memory/stack_allocator.h
source/include/0_extern/rex_std_extra/random/rand.h
source/include/0_extern/rex_std_extra/time/clock.h
source/include/0_extern/rex_std_extra/time/date.h
source/include/0_extern/rex_std_extra/time/stopwatch.h
source/include/0_extern/rex_std_extra/time/time.h
source/include/0_extern/rex_std_extra/time/timepoint.h
source/include/0_extern/rex_std_extra/time/timer.h
source/include/0_extern/rex_std_extra/time/win/win_date.h
source/include/0_extern/rex_std_extra/time/win/win_time.h
source/include/0_extern/rex_std_extra/time/win/win_time_functions.h
source/include/0_extern/rex_std_extra/time/win/win_timepoint.h
source/include/0_extern/rex_std_extra/utilities/break.h
source/include/0_extern/rex_std_extra/utilities/casting.h
source/include/0_extern/rex_std_extra/utilities/enum_reflection.h
source/include/0_extern/rex_std_extra/utilities/flags.h
source/include/0_extern/rex_std_extra/utilities/hash.h
source/include/0_extern/rex_std_extra/utilities/high_water_mark.h
source/include/0_extern/rex_std_extra/utilities/id_generator.h
source/include/0_extern/rex_std_extra/utilities/no_literal.h
source/include/0_extern/rex_std_extra/utilities/not_null.h
source/include/0_extern/rex_std_extra/utilities/nullptr.h
source/include/0_extern/rex_std_extra/utilities/scopeguard.h
source/include/0_extern/rex_std_extra/utilities/source_location.h
source/include/0_extern/rex_std_extra/utilities/strong_type.h
source/include/0_extern/rex_std_extra/utilities/swap.h
source/include/0_extern/rex_std_extra/utilities/version.h
source/include/0_extern/rex_std_extra/utilities/wrapped_index.h
source/include/0_extern/rex_std_extra/utilities/yes_no_enum.h
docs/book/fonts/open-sans-v17-all-charsets-800.woff2
docs/book/
cmake/RexStdExtra.cmake
cmake/RexStdExe.cmake
